body { margin: 0 }
  
@font-face {
  font-family: 'ChessMedium';
  src: url('chess.otf') format('opentype');
}

chess-game {
  display: inline-block;
  position: relative;

  & chess-figure-select,
  & chess-board {
    display: grid;
    grid-template-columns: repeat(8, calc(100vh / 8));
    grid-template-rows: repeat(8, calc(100vh / 8));
    @media all and (orientation: portrait) {
      grid-template-columns: repeat(8, calc(100vw / 8));
      grid-template-rows: repeat(8, calc(100vw / 8));
    }

    & chess-tile {
      font-family: ChessMedium;
      font-size: calc(100vh / 8);
      @media all and (orientation: portrait) {
        font-size: calc(100vw / 8);
      }

      &.black {
        background-color: black;
        color: white;
        &::before { color: rgba(255, 255, 255, .5) }
        // &.drag-over::before { color: white; }
      }
      &.white {
        background-color: white;
        color: black;
        &::before { color: rgba(0, 0, 0, .5) }
        // &.drag-over::before { color: black; }
      }

      &::before { position: absolute; }
      &.move-allow::before { content: 'o'; }
      &.move-forbid::before { content: 'O'; }
      // &.drag-path::before { color: rgba(60, 170, 230, .5); }
      &.drag-over::before { color: rgba(60, 170, 230, .8); }
    }

    & chess-figure {
      font-family: ChessMedium;
      font-size: calc(100vh / 8);
      @media all and (orientation: portrait) {
        font-size: calc(100vw / 8);
      }

      &.white {
        &.pawn::before { content: 'P'; }
        &.rook::before { content: 'R'; }
        &.knight::before { content: 'N'; }
        &.bishop::before { content: 'L'; }
        &.queen::before { content: 'Q'; }
        &.king::before { content: 'K'; }
      }
      &.black {
        &.pawn::before { content: 'p'; }
        &.rook::before { content: 'r'; }
        &.knight::before { content: 'n'; }
        &.bishop::before { content: 'l'; }
        &.queen::before { content: 'q'; }
        &.king::before { content: 'k'; }
      }
    }
  }

  & chess-figure-select {
    position: absolute;
    top: 0;
    padding: calc((100% / 8) * 2) calc((100% / 8) * 2);
    background-color: #c9c9c9;
    grid-template-columns: repeat(4, calc(100vh / 8));
    grid-template-rows: repeat(4, calc(100vh / 8));
    grid-template-areas: "t t t t" ". . . ." "f1 f2 f3 f4" ". . . .";
    @media all and (orientation: portrait) {
      grid-template-columns: repeat(4, calc(100vw / 8));
      grid-template-rows: repeat(4, calc(100vw / 8));
    }

    &::before {
      content: "Select promotion figure";
      grid-area: t;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: calc((100vh / 8) / 3);
      @media all and (orientation: portrait) {
        font-size: calc((100vw / 8) / 3);
      }
    }

    & chess-figure {
      &:nth-child(1) { grid-area: f1; }
      &:nth-child(2) { grid-area: f2; }
      &:nth-child(3) { grid-area: f3; }
      &:nth-child(4) { grid-area: f4; }
    }
  }
}
